.section {
  font-size: 20px;
  @media screen and (min-width: 768px) {
    background-color: var(--bg-color);
  }
}

.wrapper {
  padding: 40px 16px;
  border-bottom: 1px solid var(--grey);
  @media screen and (min-width: 1440px) {
    max-width: 1144px;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
    gap: 4px;
  }
}

.accent {
  color: var(--grey);
}